* {
    margin: 0;
    padding: 0;
}

.page {
    height: 100vh;
    padding: 20px;
}

.carousel-inner img {
    max-height: 60vh;
    min-height: 40vh;
    filter: blur(2px);
    object-fit: cover;
}

.carousel-item>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carousel-item h5 {
    font-size: 3vw;
}

.carousel-item p {
    font-size: 2vw;
}


.about {
    font-size: 12px;
    margin-top: 50px;
}

.prices {
   margin-top: 30px;
}

.card {
    width: 16rem;
    
}

.contact {
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    .about {
        font-size: 11px;
    }

    .carousel-item h5 {
        font-size: 14px;
    }

    .carousel-item p {
        font-size: 10px
    }

    .cardPadding {
        padding-bottom: 20px;
    }

    .card {
        width: 14rem;
    }
}

